In [9]:
import pandas as pd

In [10]:
dir = "E:\iCloudDrive\master of applied computing\capstone project\elevator_sim_py\simulation_records_calls.csv"

In [11]:
df = pd.read_csv(dir)
df

                  Timestamp  Floor  Direction
0       2025-05-01 06:08:51      5         -1
1       2025-05-01 06:10:15      0          1
2       2025-05-01 06:10:50      0          1
3       2025-05-01 06:11:05      7         -1
4       2025-05-01 06:11:35      0          1
...                     ...    ...        ...
150098  2025-05-30 23:57:45      6         -1
150099  2025-05-30 23:58:20      9         -1
150100  2025-05-30 23:59:10      0          1
150101  2025-05-30 23:59:40      0          1
150102  2025-05-30 23:59:40      6         -1

[150103 rows x 3 columns]

In [24]:
df.isna().sum()

Timestamp    0
Floor        0
Direction    0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150103 entries, 0 to 150102
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Timestamp  150103 non-null  object
 1   Floor      150103 non-null  int64
 2   Direction  150103 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [13]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150103 entries, 0 to 150102
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Timestamp  150103 non-null  datetime64[ns]
 1   Floor      150103 non-null  int64
 2   Direction  150103 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 3.4 MB

In [ ]:
min_time = 0
max_time = 24*60*60

min_date = df['Timestamp'].dt.date.min()
max_date = df['Timestamp'].dt.date.max()

min_floor = df['Floor'].min()
max_floor = df['Floor'].max()

In [16]:
columns = [ str(floor) + direction for floor in range(min_floor, max_floor + 1) for direction in ['_Up', '_Down']]

rows = []
for date in pd.date_range(start=min_date, end=max_date):
    for seconds in range(min_time, max_time):
        timestamp = pd.Timestamp(date) + pd.Timedelta(seconds=seconds)
        rows.append(timestamp)
rows = pd.DatetimeIndex(rows)


call_record = pd.DataFrame(0, index=rows, columns = ['timestamp','day','time']+columns)
call_record['timestamp'] = call_record.index
call_record['day'] = call_record.index.weekday
call_record['time'] = call_record.index.hour * 3600 + call_record.index.minute * 60 + call_record.index.second

In [17]:
call_record.isna().sum()

timestamp    0
day          0
time         0
0_Up         0
0_Down       0
1_Up         0
1_Down       0
2_Up         0
2_Down       0
3_Up         0
3_Down       0
4_Up         0
4_Down       0
5_Up         0
5_Down       0
6_Up         0
6_Down       0
7_Up         0
7_Down       0
8_Up         0
8_Down       0
9_Up         0
9_Down       0
10_Up        0
10_Down      0
dtype: int64

In [20]:
call_record

,timestamp,day,time,0_Up,0_Down,1_Up,1_Down,2_Up,2_Down,3_Up,...,6_Up,6_Down,7_Up,7_Down,8_Up,8_Down,9_Up,9_Down,10_Up,10_Down
2025-05-01 06:00:00,2025-05-01 06:00:00,3,21600,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-05-01 06:00:01,2025-05-01 06:00:01,3,21601,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-05-01 06:00:02,2025-05-01 06:00:02,3,21602,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-05-01 06:00:03,2025-05-01 06:00:03,3,21603,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-05-01 06:00:04,2025-05-01 06:00:04,3,21604,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-30 23:59:55,2025-05-30 23:59:55,4,86395,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-05-30 23:59:56,2025-05-30 23:59:56,4,86396,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-05-30 23:59:57,2025-05-30 23:59:57,4,86397,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-05-30 23:59:58,2025-05-30 23:59:58,4,86398,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2025-05-30 23:59:59,2025-05-30 23:59:59,4,86399,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
def preprocess_calls(row):
    time = row['Timestamp']
    floor = row['Floor']
    direction = 'Up' if row['Direction'] == 1 else 'Down'
    
    call_record.at[time, f"{floor}_{direction}"] = 1
    
df.apply(preprocess_calls, axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
150098    None
150099    None
150100    None
150101    None
150102    None
Length: 150103, dtype: object

In [27]:
call_record.isna().sum()

timestamp    26
day          26
time         26
0_Up         26
0_Down       26
1_Up         26
1_Down       26
2_Up         26
2_Down       26
3_Up         26
3_Down       26
4_Up         26
4_Down       26
5_Up         26
5_Down       26
6_Up         26
6_Down       26
7_Up         26
7_Down       26
8_Up         26
8_Down       26
9_Up         26
9_Down        0
10_Up        26
10_Down      26
dtype: int64

In [28]:
call_record['timestamp'][call_record.isna().any(axis=1)]

2025-05-10 00:00:00   NaT
2025-05-10 00:00:01   NaT
2025-05-10 00:00:02   NaT
2025-05-10 00:00:03   NaT
2025-05-10 00:00:04   NaT
2025-05-10 00:00:05   NaT
2025-05-10 00:00:06   NaT
2025-05-10 00:00:07   NaT
2025-05-10 00:00:08   NaT
2025-05-10 00:00:09   NaT
2025-05-10 00:00:10   NaT
2025-05-10 00:00:11   NaT
2025-05-10 00:00:12   NaT
2025-05-10 00:00:13   NaT
2025-05-17 00:00:00   NaT
2025-05-17 00:00:01   NaT
2025-05-17 00:00:02   NaT
2025-05-17 00:00:03   NaT
2025-05-17 00:00:04   NaT
2025-05-17 00:00:05   NaT
2025-05-17 00:00:06   NaT
2025-05-17 00:00:07   NaT
2025-05-17 00:00:08   NaT
2025-05-17 00:00:09   NaT
2025-05-17 00:00:10   NaT
2025-05-17 00:00:11   NaT
Name: timestamp, dtype: datetime64[ns]

In [10]:
call_record.iloc[:,3:].sum(axis=0)

0_Up       43541.0
0_Down         0.0
1_Up           0.0
1_Down         0.0
2_Up        5554.0
2_Down      5674.0
3_Up        5062.0
3_Down      6406.0
4_Up        4265.0
4_Down      6909.0
5_Up        3522.0
5_Down      7619.0
6_Up        2994.0
6_Down      8553.0
7_Up        1902.0
7_Down      9922.0
8_Up        1447.0
8_Down     11075.0
9_Up         852.0
9_Down     11813.0
10_Up          0.0
10_Down    12993.0
dtype: float64

In [11]:
call_record = call_record.drop(columns=['1_Down', '10_Up'])

In [12]:
call_record.to_csv("call_record_processed.csv")

In [13]:
import numpy as np
output_window = call_record.iloc[0+2*60*60:300+2*60*60, 3:]
        # 如果有任何一个时间步有 call，则标记为 1
y = (output_window.sum(axis=0) > 0).astype(np.float32).values
y

array([1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0.], dtype=float32)

In [14]:
trainset = call_record.iloc[0: int(len(call_record)*0.8)]
testset = call_record.iloc[int(len(call_record)*0.8) + 1 : ]

# pd timestamp to unix timestamp
trainset['timestamp'] = trainset['timestamp'].astype(np.int64) // 10
testset['timestamp'] = testset['timestamp'].astype(np.int64) // 10

C:\Users\yeech\AppData\Local\Temp\ipykernel_67944\2042451225.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainset['timestamp'] = trainset['timestamp'].astype(np.int64) // 10
C:\Users\yeech\AppData\Local\Temp\ipykernel_67944\2042451225.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testset['timestamp'] = testset['timestamp'].astype(np.int64) // 10

In [17]:
call_record.isna().sum()

timestamp    26
day          26
time         26
0_Up         26
0_Down       26
1_Up         26
2_Up         26
2_Down       26
3_Up         26
3_Down       26
4_Up         26
4_Down       26
5_Up         26
5_Down       26
6_Up         26
6_Down       26
7_Up         26
7_Down       26
8_Up         26
8_Down       26
9_Up         26
9_Down        0
10_Down      26
dtype: int64

In [15]:
trainset.isna().sum()

timestamp    0
day          0
time         0
0_Up         0
0_Down       0
1_Up         0
2_Up         0
2_Down       0
3_Up         0
3_Down       0
4_Up         0
4_Down       0
5_Up         0
5_Down       0
6_Up         0
6_Down       0
7_Up         0
7_Down       0
8_Up         0
8_Down       0
9_Up         0
9_Down       0
10_Down      0
dtype: int64

In [16]:
testset.isna().sum()

timestamp     0
day          26
time         26
0_Up         26
0_Down       26
1_Up         26
2_Up         26
2_Down       26
3_Up         26
3_Down       26
4_Up         26
4_Down       26
5_Up         26
5_Down       26
6_Up         26
6_Down       26
7_Up         26
7_Down       26
8_Up         26
8_Down       26
9_Up         26
9_Down        0
10_Down      26
dtype: int64

In [ ]:

trainset.to_csv("trainset.csv",index=False)
testset.to_csv("testset.csv",index=False)